@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.navbar {
  font-family: Quicksand;
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
  padding: 10px;
  color: aqua;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 10px;
}
.navbar button{
  font-family: Quicksand;
  color: aqua;
  border-color: inherit;
  width: 200px;
}
.document{
  margin-right: 20px;
}
.navbar a:hover {
  color: #f1356d;
}
.center {
  margin-bottom: -10px;
  width: 30px;
  height: 30px;
}
.homecard{
  align-items:center;
  text-align: center;
}
.homecard h1{
  font-size: 70px;
  font-family: Quicksand;
  padding: 0px;
  color:#f1356d;
}
/*
.homecard{
  background-image: url("images/backPeople.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
*/
.main-statement {
  font-size: 70px;
  font-family: Quicksand;
  padding: 5px;
  color: black;
  margin-bottom: auto;
}
.textbox .donate{
  color:#e7feff;
  font-family: Quicksand;
  font-size: 30px;
  background-color:#f1356d ;
  border-radius: 5px;
  border: none;
  width: 230px;
  height: auto;
  padding: 5px;
  margin-top: 90px;
  margin-inline-end: 50px;
  margin-inline-start: 50px;
}
.donate:hover{
  background-color: black;
}
.side-bar{
  float: right;
  height: 1000px;
  width: 300px;
  background-color: black;
}
.signin{
  padding: 7px;
  background-color: red;
  border-radius: 10px;
}


